<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel">
			<div class="panel-body">

				<div class="row text-center">
					<h2>Login</h2>
				</div>

				<div class="row" ng-show="loginFalhou">
					<div class="alert alert-danger">
						Login ou senha informados inválidos.
					</div>
				</div>

				<form class="form-horizontal" novalidate>
					<fieldset>
						<!-- Password input-->
						<div class="form-group">
							<label>Login</label>
							<input ng-model="login" type="text" class="form-control" placeholder="Login">
						</div>
						<div class="form-group">
							<label>Senha</label>
							<input ng-model="senha" type="password" class="form-control" placeholder="Password">
						</div>

						<!-- Button -->
						<div class="form-group">
						  <div class="col-md-12 text-center">
						    <button class="btn btn-primary" ng-click="logar()">Entrar no Sistema</button>
						  </div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>